
@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Lato-Black.ttf);
}


$lato: "lato", sans-serif;

$rouge: #FD2D01;
$rose: #FFD7D7;
$gris: #4E5166;
$black: #060d2c;
$rose-clair: #FBEDF4;
$white: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $lato;
  background : $rose-clair;
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
}

