.connexion-page {
  form{
    // border: 2px solid;
    // margin-left: 20%;
    // margin-right: 20%;
    text-align: center;
    margin-top: 6%;
    .ident-field{
      margin-bottom: 2%;
      font-size: 200%;
      input{
        font-size: 60%;
        margin-left: 4%;
        padding-left: 3%;
        padding-right: 3%;
      }
    }
    .pass-field{
      margin-bottom: 2%;
      font-size: 200%;
      input{
        font-size: 60%;
        margin-left: 2%;
        padding-left: 3%;
        padding-right: 3%;
      }
    }
    .button{
      margin-top: 3%;
      input{
        padding-top:1%;
        padding-bottom:1%;
        padding-left:3%;
        padding-right:3%;
        font-size: 180%;
      }
    }
  }
  .inscription{
    margin-top: 2%;
    text-align: center;
    p{
      font-size: 180%;
    }
    button{
      font-size: 180%;
      padding-left: 1%;
      padding-right: 1%;
    }
  }
}
