.connexion-page {
  form{
    text-align: center;
    margin-top: 3%;
    .ident-field{
      margin-bottom: 2%;
      font-size: 200%;
      display: flex;
      flex-direction: column;
      input{
        height: 40px;
        width: 20%;
        padding: 1%;
        margin: auto;
        margin-top: 2%;
      }
    }
    .pass-field{
      margin-bottom: 2%;
      font-size: 200%;
      display: flex;
      flex-direction: column;
      input{
        height: 40px;
        width: 20%;
        padding: 1%;
        margin: auto;
        margin-top: 2%;
      }
    }
    .button{
      margin-top: 3%;
      input{
        padding-top:1%;
        padding-bottom:1%;
        padding-left:3%;
        padding-right:3%;
        font-size: 180%;
        cursor: pointer;
      }
    }
  }
  .inscription{
    margin-top: 2%;
    text-align: center;
    p{
      font-size: 180%;
    }
    button{
      font-size: 180%;
      padding-left: 1%;
      padding-right: 1%;
      margin-top: 2%;
      cursor: pointer;
    }
  }
}
