.inscription-page {
  form{
    text-align: center;
    margin-top: 4%;
    .ident-field{
      margin-bottom: 2%;
      font-size: 200%;
      input{
        font-size: 60%;
        margin-left: 4%;
        padding-right: 6%;
      }
    }
    .name-field{
      margin-bottom: 2%;
      font-size: 200%;
      input{
        font-size: 60%;
        margin-left: 6%;
        padding-right: 6%;
      }
    }
    .surname-field{
      margin-bottom: 2%;
      font-size: 200%;
      input{
        font-size: 60%;
        margin-left: 2%;
        padding-right: 6%;
      }
    }
    .pass-field{
      margin-bottom: 2%;
      font-size: 200%;
      input{
        font-size: 60%;
        margin-left: 2.1%;
        padding-right: 6%;
      }
    }
    .button{
      margin-top: 3%;
      input{
        padding-top:1%;
        padding-bottom:1%;
        padding-left:2%;
        padding-right:2%;
        font-size: 180%;
      }
    }
  }
  .inscription{
    margin-top: 2%;
    text-align: center;
    p{
      font-size: 180%;
    }
    button{
      font-size: 180%;
      padding-left: 1%;
      padding-right: 1%;
    }
  }
}
