.profil-page {
  form{
    text-align: center;
    margin-top: 2%;
    .ident-field{
      margin-bottom: 2%;
      text-align: center;
      justify-content: center;
      font-size: 200%;
      display: flex;
      flex-direction: row;
      p{
        margin-left: 2%;
      }
    }
    .name-field{
      margin-bottom: 4%;
      font-size: 200%;
      input{
        margin-left: 6%;
        height: 40px;
        width: 25%;
      }
    }
    .surname-field{
      margin-bottom: 4%;
      font-size: 200%;
      input{
        margin-left: 2%;
        height: 40px;
        width: 25%;
      }
    }
    .pass-field{
      margin-bottom: 4%;
      font-size: 200%;
      input{
        margin-left: 2.1%;
        height: 40px;
        width: 25%;
      }
    }
    .button{
      margin-top: 3%;
      input{
        padding-top:1%;
        padding-bottom:1%;
        padding-left:2%;
        padding-right:2%;
        font-size: 160%;
      }
    }
  }
  .delete-button{
    text-align: center;
    margin-top: 2%;
    button{
    padding-top:1%;
    padding-bottom:1%;
    padding-left:2%;
    padding-right:2%;
    font-size: 160%;
    background-color: $rouge;
    font-weight: 800;
    }

  }
}
