.header {
  background-color: white;
  display: flex;
  border-bottom: 2px solid;
  img{
    width: 340px;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  .navigation {
    background-color:white;
    margin-left: 50%;
    margin-top: 1%;
    ul {
      background-color:white;
      display: flex;
      flex-direction: row;
      .navi{
        width: 200px;
        background-color: white;
        a {
          text-decoration: none;
          color: #FD2D01;
          background-color:white;
          margin-left: 80%;
          width: 100%;
          &:hover {
            font-weight: 900;
          }
          li{
            background-color:white;
            font-size: 1.4em;
          }
        }
        
      }


    }
  }

}
