.header {
  background-color: white;
  display: flex;
  img{
    width: 340px;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  nav {
    position: absolute;
    display: flex;
    left: 70%;
    top: 5%;
    font-size: 2rem;

    ul {
      right: 40%;
      background-color:white;
      a {
        text-decoration: none;
        color: #FD2D01;
        background-color:white;
        &:hover {
          font-weight: 900;
          border-bottom: 5px solid #FD2D01;
        }
        li{
          right: 20%;
        }
      }

    }
  }

}

  // h1 {
  //   font-size: 23rem;
  //   text-shadow: 2px 3px 0px $rouge;
  //   text-align: center;
  //   letter-spacing: 2px;
  // }
  