.header {
  background-color: white;
  display: flex;
  border-bottom: 2px solid;
  img{
    width: 340px;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
    margin-left: 50%;
    font-size: 2rem;
    background-color:white;
    ul {
      background-color:white;
      a {
        text-decoration: none;
        color: #FD2D01;
        background-color:white;
        &:hover {
          font-weight: 900;
          border-bottom: 5px solid #FD2D01;
        }
        li{
          background-color:white;
          margin-right: 10%;
        }
      }

    }
  }

}

  // h1 {
  //   font-size: 23rem;
  //   text-shadow: 2px 3px 0px $rouge;
  //   text-align: center;
  //   letter-spacing: 2px;
  // }
  